@charset "UTF-8";

@font-face {
    font-family:"Zoika font";
    src:url('../fonts/Zoika.eot');
	src:url("../fonts/Zoika.woff") format("woff");
}

@font-face {
    font-family:"SUIT-Bold";
    src: url('../fonts/SUIT-Bold.eot');
	src: url('../fonts/SUIT-Bold.woff') format("woff");
}

@font-face {
    font-family:"SUIT-Regular";
    src: url('../fonts/SUIT-Regular.eot');
    src: url('../fonts/SUIT-Regular.woff') format("woff");
}


* {margin:0; padding:0; box-sizing:border-box;}
body {
    font-family:"SUIT-Regular", sans-serif; font-size:16px; color:#333;
    background:#fff; overflow-x:hidden;
}

/*============ banner + font ============*/
h1 {font-family:"Zoika font", serif;}
h2 {color:#fdf4d1; padding-top:250px;}
/*
h3 {margin-top:100px;} */
h3 span {color: #930c71;}
h4 {font-family:"SUIT-Bold", sans-serif;}
h2, h3, h5, h6 {font-family:"Playfair Display", serif;}
* {list-style:none;}
.center {text-align:center;}


/*============ btn ============*/

ul li, ol li {list-style:none;}
a {display:block; text-decoration:none; cursor: pointer;}

.btn {
	height:100%; padding:12px 10px;
	cursor:pointer; color:black; line-height: 20px;
	background: #fdf4d1;
	border:0; font-size:14px;
	box-shadow: inset 0px 0px 0 3px #d9cc8f;
	transition:all 0.4s ease-in;
	font-family:"SUIT-Bold";
	font-weight: bolder;
}

.btn:hover {background:#5a1375; color:#fff;}
.btn-private {background:#ff00c64d; color:#111; width: 140px;}
.btn-private:hover {background:#b30059; color:#f8e7f1;}
.btn-public {background:#d9cc8f6b; color:#111;}
.btn-register {background:#fdf4d1; color:#111;}
.btn-apply {background:#eee; color:#333;}



/*===============flex==============*/
.flex {display:flex;}
.flex-center {display:flex; justify-content:center; align-items:center;}
.flex-between {display:flex; justify-content:space-between; align-items:center;}

