@charset "UTF-8";

.bd-reg-frm,
.bd-reg-frm li:first-child,
.bd-update-frm li:first-child,
.bd-update-frm,
section,
.bd-view,
.bd-view-info,
.reply-wrap,
.reply-list,
.reply-content, 
.reply-list li:first-child {border-radius: 5px;}
.bn-board-register,.bn-board-update,.bn-adm-board {background:url(imgs/bd-register-bn.jpg) no-repeat center center;}

/*=========== banner ===========*/
.bn-board-register,
.bn-board-list {text-transform:uppercase;}



/*=========== list ===========*/
.bn-board-list {background:url(imgs/bd-list-bn.jpg) no-repeat center center;}
.bd-list-container {	
	width:1200px; border-radius: 5px 5px 0 0;
}
.bd-search-wrap {width:1200px; display:flex; padding: 30px 30px 10px;}
.bd-search-type {margin-right: 10px;}
.btn-list-count {width:300px; display:inline-block; padding:10px 15px; font-size: 32px; font-weight: bold;}
.search-wrap {display:flex;  margin-top: 5px;}
.btn-list-reg {width:1200px; margin-top:20px; padding: 0 230px; text-align: right;}
#search-btn {height: 40px; width:150px; margin-top: -5px;}
/*=========== list ===========*/
.bd-list-wrap {height: 550px; border-radius: 0 0 5px 5px; padding-top: 20px;}
.bd-list-wrap table {width:750px; background: #e9e1be; margin:0 auto; padding: 30px 10px; border-radius: 5px;}
.bd-list-wrap tr {width:100%; height:50px; margin:0 auto; }
.bd-list-wrap tr td {height:100%; text-align:center;  border-bottom:1px dashed #333;}
.bd-list-wrap tr td a {color:#333;}
.bd-list-item > a {color:#8000ff;}

#keyword {width: 400px;}

/*=========== page ===========*/
.pagenation {
	width:350px; margin:0 auto;
	display:flex; justify-content:center; align-items:center;
}
.pagenation li {text-align:center;}
.pagenation li a {margin-top:30px; padding:5px 10px; color:#333;}
.pagenation li a.active {color:#333; background:#d9cc8f;}

/*======register========*/

section {width:1200px;padding-top:20px;}
.bd-reg-frm {width:1050px; margin: 0 auto; line-height:100px; padding: 30px;}
.bd-reg-frm li:first-child {background: #e9e1be; margin:0 0 20px;padding: 30px 20px; display: flex;}
.bd-register {margin-left: 820px; width: 150px;}

.input-bd {
	height: 32px; margin: 0 10px; font-size: 24px;
	background: #fff; padding: 0 10px; 
	border-style: none; outline: none;
	box-shadow: 0px 0px 0 4px #d9cc8f;
 }
.input-title {width: 500px;}
.input-id {width: 150px; text-align: center; margin-left: 300px; background: #fdf4d1;}

/*=============update================*/
.bd-update-frm {width:1200px; background:#fdf4d1; margin: 250px auto 0; line-height:100px; padding: 30px;}
.bd-update-frm li {width: 1050px; margin: 0 auto;}
.bd-update-frm li:first-child {background: #e9e1be; margin-bottom:20px; padding: 30px 20px; display: flex; }

/*=======view=========*/

.bd-view h4 {font-size: 60px; margin-bottom: 40px;}
.bd-view {position: relative;background: #fdf4d1;  margin-bottom:50px; padding: 30px;}
.bd-view-info {position: absolute; right: 30px; top: 30px; background: #e9e1be; padding: 10px;}
.bd-view-btn {text-align: center;}
.view-content {background: #fff ;margin: 0 10px 15px; padding: 20px; border-radius: 5px;}
.reply-wrap, .bd-list-container, .bd-list-wrap, .reply-list, .bb-register-wap {background: #fdf4d1;}
.reply-wrap {padding: 20px;}
.reply-reg li:first-child {display: flex; justify-content: space-between; margin-bottom: 15px;}
.reply-list , .reply-wrap {margin-bottom:10px;}
.reply-list {position:relative; display: flex; padding: 30px;}
.reply-list p:first-child {position: absolute;top: 20px; left: 120px;}
.reply-list li:first-child {background: #d9cc8f; padding: 20px; border-radius: 50%;}
.reply-list li:nth-child(2) {display: flex;}
.reply-list li span {margin-left: 20px;}

#contents {padding: 0 10px;}
.reply-btn {width:170px; height: 35px; line-height: 15px; margin-bottom:10px;}
.reply-content {width: 850px; background: #e9e1be; margin:20px 20px 0; padding: 15px}





























































