@charset "UTF-8";


/*======================우영=================*/

.book-use-container {display:flex; width:100%;}

.book-use-btn-container {display:flex; width:100%; margin:20px 0;}
.book-use-btn-container li {width:33%; padding:20px 0; background:#fc0; text-align:center; }
.book-use-btn-container li a{color:black;}


.book-use-wrap {width:800px; padding: 20px;}
.info-sentense {width:100%; margin-bottom:20px; padding: 20px; border:3px solid #fc0;}
.info-sentense p {font-size:14px;}

.category_number {color:black;}

.book-index {width:15px; height:130px;}
.book-thumbnail {width:100px; height:130px;}
.book-thumbnail  > a {width:100%; height:100%;}
.book-thumbnail img {display:block; width:100%; height:100%;}
.book-register {width:900px; margin:100px auto;}
.book-register > li {display:flex; width:100%; height:50px; margin:10px 0; border:1px solid #a6a6a6; border-radius:10px;}

.sub-category:first-child {
	display:block; width:150px; height:48px; padding-left:15px; background:#fbf4d1; 
	line-height:48px; border-right:1px solid #a6a6a6; border-radius:10px 5px 5px 10px;
}
.book_input {width:200px; height:30px; margin:auto 0; margin-left:15px; padding-left:10px; border:1px solid #a6a6a6;}
.book-register  li:nth-child(1) input, .book-register  li:nth-child(2) input {width:400px;}
.book-register > li > select {height:30px; margin:auto 0; margin-left:15px;}
.book-register-isbn {display:flex; align-items:center;}
.book-register-isbn input {margin:auto 5px; padding-left:0;}
.book-register-isbn input:first-child {margin-left:15px;}
#book_isbn_0 {width:45px; text-align:center;}
#book_isbn_1 {width:35px; text-align:center;}
#book_isbn_2 {width:60px; text-align:center;}
#book_isbn_3 {width:35px; text-align:center;}
#book_isbn_4 {width:25px; text-align:center;}
#book_isbn_5 {width:55px; text-align:center;}

.book-register  li:nth-child(3) input:checked  + label {background:#930c71; color:#f2f2f2; box-shadow: 0px 0px 0 2px #fbf4d1 inset;}
.book-register  li:nth-child(5) input:checked  + label {background:#930c71; color:#f2f2f2; box-shadow: 0px 0px 0 2px #fbf4d1 inset;}
.book-register  li:nth-child(11) input:checked  + label {background:#930c71; color:#f2f2f2; box-shadow: 0px 0px 0 2px #fbf4d1 inset;}
.book-register  li:last-child {width:210px; margin:0 auto; border:none;}
.book-register  li:last-child .btn {width:100px; text-align:center; line-height:26px;}
.book-register  li:last-child button{margin-right:10px;} 
.book-register > li > label {
	width:60px; height:30px; margin:auto 0; margin-left:15px; padding:5px; background:#fbf4d1; 
	line-height:20px; border-radius:5px; text-align:center;
}
.book-register  li:nth-child(5) label {width:100px;}
.book-register  li:nth-child(6) {width:100%; height:100px;}
.book-register  li:nth-child(6) p {height:98px; line-height:98px;}
.book-register  li:nth-child(6) textarea {
	width:720px; height:80px; margin:auto 0;  margin-left:15px; border:1px solid #a6a6a6;
}

.book-register > li > label:hover {background:#fbf4d1; }
.file {width:400px; padding-left:0;}
.file::file-selector-button {line-height:28px; background:#fbf4d1; border:1px solid #a6a6a6; cursor:pointer;}

.view_category #category_depth_2, .view_category #category_number {display:block;}


.search-depth2-container {width:100%; }




/*=======================================*/






.bn-book-search, .bn-book-register,.bn-book-list,.bn-book-subjectSearch  {background:url(../../imgs/culture/cul-sec-bn-1-bg-1.jpg) no-repeat center center ;}

/*
.book-register {width:350px; margin:100px auto;}
 */

.book-container, .search-keyword {display:flex;}

#interestedBtn {margin-left: 15px;}

.book-list-bottom {line-height: 20px;}
.book-list span {margin-right:15px;}

#reservationBtn,#interestedBtn {display:flex; border: 0; cursor: pointer;}
#reservationBtn div,#interestedBtn div {width:20px; height:20px; margin-right: 5px; background: #fc0;}

.book-register  li:nth-child(3), .book-register  li:nth-child(4), 
.book-register  li:nth-child(8), .book-register  li:nth-child(9) {display:flex;}
.book-register  li:nth-child(3) input, .book-register  li:nth-child(5) input, .book-register  li:nth-child(11) input {display:none;}
.book-register  li:nth-child(3) input:checked  + label, 
.book-register  li:nth-child(9) input:checked  + label {background:skyblue;}

#category_depth_2, #category_number {display:none;}

.book-list-wrap {width:100%; }
.book-list {width:85%;}
.book-list-container-0 {border-top:1px solid black;}
.book-list-container {
	display:flex; 
	width:100%; padding:10px; 
	border-bottom:1px solid black;
}
.book-list li:nth-child(5) div {display: flex; justify-content: space-between;}
.book-list-bottom {background: #eee;}

.search-bar li a {color: #000;}
.search-bar li:nth-child(2) {background: #930c71;}
.search-bar li:nth-child(2) a {color: #f6f6f6;}
.search-keyword  li:nth-child(3) {margin-top: 15px;}
.search-keyword li:nth-child(4) a {color: #000;}

.pagenation {display:flex;}
.pagenation li a{color:black;}

/*======================미디어쿼리=================*/
/*====================================================*/
@media screen and (min-width:1400px) {
/*
	h4 {font-size: 20px;}
	.book-register {padding:15px; margin-bottom:100px; background:#fdf4d1; border-radius:5px;}
	.book-register {width:350px; margin:100px auto;}
	.book-register  li {margin:10px;}
	
	.book-register  li:nth-child(3) p, .book-register  li:nth-child(9) p {margin-right:10px;}
	.book-register  li:nth-child(3) input + label, 
	.book-register  li:nth-child(9) input + label {margin-right:10px; background:white;}
	
	.book-register  li:nth-child(8) input {padding:5px; text-align:center;}
	.book-register  li:nth-child(8) input[name="book_isbn-1"] {width:40px;}
	.book-register  li:nth-child(8) input[name="book_isbn-2"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-3"] {width:55px;}
	.book-register  li:nth-child(8) input[name="book_isbn-4"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-5"] {width:20px;}
	.book-register  li:nth-child(8) input[name="book_isbn-6"] {width:50px; margin:0;}
	.book-register  li:nth-child(8) p {margin:0 3px; line-height:28px;}

*/

	.book-container {width:1000px; margin:0 auto;}
	
	 .search-keyword {margin-bottom:30px; background: #d9cc8f; padding: 10px; border-radius: 5px;}
	 .search-keyword  li:nth-child(2) input {width:400px;}
	 .search-keyword  li:nth-child(2) input,#searchType {height: 40px; padding: 10px; border: none; box-shadow: 0px 0px 0 3px #e9e1be inset;}
	 .search-keyword  li:nth-child(3) {width: 150px; text-align: center; margin-top: 30px;}
	 #searchBtn {
	 	width: 90px; background: #fdf4d1; text-align: center; cursor: pointer;
	 	transition: all 0.4s ease;
	 	}
	 #searchBtn:hover {background:#d9cc8f; color:#fff;}
	 .search-keyword  li {margin:5px;}
	 
	.book-list-bottom {padding: 5px; font-size: 14px;}
	.book-list-bottom p {margin-left: 15px}
	
	.book-list-container  div {margin-right:15px;}
	.book-thumbnail {width:100px; height:130px; background:#fc0; background-size: cover;}
	.book-list li {padding-bottom:10px; line-height:16px;}
	.book-list li:last-child {padding-bottom:0;}
	
	#reservationBtn div,#interestedBtn div {margin-right: 5px;}
}



/*======================HD=================*/
@media screen and (min-width:1050px) and (max-width:1399px) {
	.book-register {padding:15px; margin-bottom:100px; background:#fdf4d1; border-radius:5px;}
	.book-register {width:350px; margin:100px auto;}
	.book-register  li {margin:10px;}
	
	.book-register  li:nth-child(3) p, .book-register  li:nth-child(9) p {margin-right:10px;}
	.book-register  li:nth-child(3) input + label, 
	.book-register  li:nth-child(9) input + label {margin-right:10px; background:white;}
	
	.book-register  li:nth-child(8) input {padding:5px; text-align:center;}
	.book-register  li:nth-child(8) input[name="book_isbn-1"] {width:40px;}
	.book-register  li:nth-child(8) input[name="book_isbn-2"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-3"] {width:55px;}
	.book-register  li:nth-child(8) input[name="book_isbn-4"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-5"] {width:20px;}
	.book-register  li:nth-child(8) input[name="book_isbn-6"] {width:50px; margin:0;}
	.book-register  li:nth-child(8) p {margin:0 3px; line-height:28px;}
	
	.book-container {width:1000px; margin:0 auto;}
	
	 .search-keyword {margin-bottom:30px; background: #d9cc8f; padding: 10px; border-radius: 5px;}
	 .search-keyword  li:nth-child(2) input {width:400px;}
	 .search-keyword  li:nth-child(2) input,#searchType {height: 40px; padding: 10px; border: none; box-shadow: 0px 0px 0 3px #e9e1be inset;}
	 .search-keyword  li:nth-child(3) {width: 150px; text-align: center;}
	 #searchBtn {
	 	width: 90px; background: #fdf4d1; text-align: center; cursor: pointer;
	 	transition: all 0.4s ease;
	 }
	 #searchBtn:hover {background:#d9cc8f; color:#fff;}
	 .search-keyword  li {margin:5px;}
	 
	.book-list-bottom {padding: 5px; font-size: 14px;}
	.book-list-bottom p {width: 200px;}
	
	.book-list-container  div {margin-right:15px;}

/*
	.book-thumbnail {width:100px; height:130px; background:#fc0; background-size: cover;}
*/

	.book-list li {padding-bottom:10px; line-height:16px;}
	.book-list li:last-child {padding-bottom:0;}
	
	#reservationBtn div,#interestedBtn div {margin-right: 5px;}
}




@media screen and (min-width:760px) and (max-width:1049px) {
	.book-register {padding:15px; margin-bottom:100px; background:#fdf4d1; border-radius:5px;}
	.book-register {width:350px; margin:100px auto;}
	.book-register  li {margin:10px;}
	
	.book-register  li:nth-child(3) p, .book-register  li:nth-child(9) p {margin-right:10px;}
	.book-register  li:nth-child(3) input + label, 
	.book-register  li:nth-child(9) input + label {margin-right:10px; background:white;}
	
	.book-register  li:nth-child(8) input {padding:5px; text-align:center;}
	.book-register  li:nth-child(8) input[name="book_isbn-1"] {width:40px;}
	.book-register  li:nth-child(8) input[name="book_isbn-2"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-3"] {width:55px;}
	.book-register  li:nth-child(8) input[name="book_isbn-4"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-5"] {width:20px;}
	.book-register  li:nth-child(8) input[name="book_isbn-6"] {width:50px; margin:0;}
	.book-register  li:nth-child(8) p {margin:0 3px; line-height:28px;}
	
	.book-container {width:1000px; margin:0 auto;}
	
	.search-bar {width: 130px; margin: 0 10px; padding: 10px; background: #e9e1be; border-radius: 5px;}
	.search-bar li, .mb-register-id {
	        height: 45px; cursor: pointer;
	        text-align: center; line-height: 45px; background: #fdf4d1; font-size: 18px;
	        margin: 15px 0 15px; box-shadow: inset 0px 0px 0 3px #d9cc8f; transition: all 0.4s ease-in; font-family: "SUIT-Bold";
	 }
	
	 .search-keyword {margin-bottom:30px; background: #d9cc8f; padding: 10px; border-radius: 5px;}
	 
	 .search-keyword  li:nth-child(2) input {width:200px;}
	 .search-keyword  li:nth-child(2) input,#searchType {height: 40px; padding: 10px; border: none; box-shadow: 0px 0px 0 3px #e9e1be inset;}
	 .search-keyword  li:nth-child(3) {width: 110px; text-align: center;}
	 #searchBtn {
	 	width: 90px; height: 35px; margin: 5px 0; font-size: 20px; background: #fdf4d1; text-align: center; cursor: pointer;
	 	line-height: 35px; box-shadow: 0px 0px 0 3px #e9e1be inset;
	 	transition: all 0.4s ease;
	 }
 	
	 #searchBtn:hover {background:#d9cc8f; color:#fff;}
	 .search-keyword  li {margin:5px;}
	 
	 .book-list-bottom {padding: 5px; font-size: 14px;}
	.book-list-bottom p {width: 120px;}
	 
	 .book-search-wrap {width: 580px; background: #fdf4d1; padding: 10px; border-radius: 5px;}
	
	.book-list-container  div {margin-right:15px;}

/*
.book-thumbnail {width:100px; height:130px; background:#fc0; background-size: cover;}
*/

	.book-list li {padding-bottom:10px; line-height:16px;}
	.book-list li:last-child {padding-bottom:0;}
	
	#reservationBtn div,#interestedBtn div {margin-right: 5px;}
}





@media screen and (max-width:759px) {
	.book-list {font-size: 12px;}
	.book-list li:nth-child(5) div {display: inline-block; margin-right: 15px;}
	.book-list-container {position: relative; height: 200px;}
	.book-list-bottom {position: absolute; width:280px; left: 35px; top:130px;}
	
	.book-info span:nth-child(2),.book-info span:nth-child(4) {display: none;}
	.book-info span {display: block;}
	#interestedBtn {margin-left: 0; margin-top: 5px;}
	
	.book-register {padding:15px; margin-bottom:100px; background:#fdf4d1; border-radius:5px;}
	.book-register {width:350px; margin:100px auto;}
	.book-register  li {margin:10px;}
	
	.book-register  li:nth-child(3) p, .book-register  li:nth-child(9) p {margin-right:10px;}
	.book-register  li:nth-child(3) input + label, 
	.book-register  li:nth-child(9) input + label {margin-right:10px; background:white;}
	
	.book-register  li:nth-child(8) input {padding:5px; text-align:center;}
	.book-register  li:nth-child(8) input[name="book_isbn-1"] {width:40px;}
	.book-register  li:nth-child(8) input[name="book_isbn-2"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-3"] {width:55px;}
	.book-register  li:nth-child(8) input[name="book_isbn-4"] {width:30px;}
	.book-register  li:nth-child(8) input[name="book_isbn-5"] {width:20px;}
	.book-register  li:nth-child(8) input[name="book_isbn-6"] {width:50px; margin:0;}
	.book-register  li:nth-child(8) p {margin:0 3px; line-height:28px;}
	
	.book-container {width:1000px; margin:0 auto;}
	
	.search-bar {display: none;}
	
	.search-keyword {width:330px; display:inline-block; margin-bottom:30px; background: #d9cc8f; padding: 10px; border-radius: 5px;}
	 
	 .search-keyword  li:nth-child(2) input {width:200px;}
	 .search-keyword  li:nth-child(2) input,#searchType {width:300px; height: 40px; padding: 10px; border: none; box-shadow: 0px 0px 0 3px #e9e1be inset;}
	 .search-keyword  li:nth-child(3) {width: 110px; text-align: center;}
	 #searchBtn {
	 	width: 90px; height: 35px; margin: 5px 0; font-size: 20px; background: #fdf4d1; text-align: center; cursor: pointer;
	 	line-height: 35px; box-shadow: 0px 0px 0 3px #e9e1be inset;
	 	transition: all 0.4s ease;
	 	}
	 	
	 #searchBtn:hover {background:#d9cc8f; color:#fff;}
	 .search-keyword  li {margin:5px;}
	 
	 .book-list-bottom {padding: 5px; font-size: 14px;}
	.book-list-bottom p {width: 120px;}
	 
	 .book-search-wrap {width: 350px; background: #fdf4d1; padding: 10px; border-radius: 5px;}
	
	.book-list-container  div {margin-right:15px;}

/*
.book-thumbnail {width:100px; height:100px; background:#fc0; background-size: cover;}
*/

	.book-list li:last-child {padding-bottom:0;}
	
	#reservationBtn, #interestedBtn {display: inline-block;}  
	#reservationBtn div,#interestedBtn div {width:10px; height:10px; margin-right: 5px;}

}






